.rule{
    height: 150px;
}

.form-center{
    vertical-align: center;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.form{
    padding: 2%;
    width: 500px;
    height: 280px;
    background-color: #ffff;
    box-shadow: 10px 10px 8px gray;
    border-radius: 10px;
}