<br>
<div class="container">
    <table class="table table-striped">
      <thead >
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Full Name</th>
            <th>Projects Owned</th>
            <th>Projects Participant</th>
            <th>Admin</th>
            <th>Delete</th>
            <th>Make Admin</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.uname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.fullname}}</td>
            <td>{{user.projectsOwned.length}}</td>
            <td>{{user.projectsParticipants.length}}</td>
            <td>{{user.isAdmin}}</td>
            <td>
                <button type="button" (click)="deleteUser(user.uname)">Delete</button>
            </td>
            <td>
                <button type="button" (click)="makeAdmin(user.uname)" [disabled]="user.isAdmin">Make Admin</button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>