<div class="rule"></div>
<div class="full-page">
    <div class="form-center">
        <div class="form">
            <h1> ADMIN </h1>
            <form [formGroup]="formLogin">
                <br><br>
                <input type="string" formControlName="uname" placeholder="Enter Username"/> <br> <br>
                <input type="password" formControlName="pswd" placeholder="Enter Password"/> <br> <br>
                <button type="button" class="btn btn-outline-warning" [disabled]="formLogin.invalid" (click)="onSubmit()">LogIn</button>
            </form>
        </div>
    </div>
</div>
